.Rproj.user
.Rhistory
.RData
.Ruserdata

./Recursos/Día1/Sesion3/0Recursos/Normal/model_NormalMedia.rds
./Recursos/Día1/Sesion3/0Recursos/Normal/model_NormalMedia2.rds
./Recursos/Día2/Sesion1/Data/model_FH_normal.rds
./Recursos/Día2/Sesion1/Data/model_FH_normal_1000.rds
./Recursos/Día2/Sesion2/Data/model_FH_arcoseno.rds
./Recursos/Día2/Sesion3/Data/model_FH_beta_logitic.rds
./Recursos/Día2/Sesion3/Data/model_FH_Binomial.rds
./Recursos/Día3/Sesion3/Data/epred_mat_agua.rds
./Recursos/Día3/Sesion3/Data/epred_mat_combustible.rds
./Recursos/Día3/Sesion3/Data/epred_mat_energia.rds
./Recursos/Día3/Sesion3/Data/epred_mat_hacinamiento.rds
./Recursos/Día3/Sesion3/Data/epred_mat_material.rds
./Recursos/Día3/Sesion3/Data/epred_mat_paredes.rds
./Recursos/Día3/Sesion3/Data/epred_mat_piso.rds
./Recursos/Día3/Sesion3/Data/epred_mat_saneamiento.rds
./Recursos/Día3/Sesion3/Data/epred_mat_techo.rds
./Recursos/Día3/Sesion4/Data/fit_multinomial_no_cor.Rds
